# System
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Java / Android
*.class
*.jar
.gradle/
build/
.idea/
*.iml
app/build/

# C++
*.exe
*.out
*.obj
*.o

# Logisim
*.bak

# OS
*.log
